*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.6rem;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
.assignment-lists {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2rem;
}
.assignment-lists li a:hover {
  color: blueviolet;
}
