@font-face {
  font-family: brown-font;
  src: url("./assets/font/brown/BrownLight\ Regular.ttf");
  src: url("./assets/font/brown/BrownMedium\ Regular.ttf"),
    url("./assets/font/brown/BrownHeavy\ Regular.ttf"),
    url("./assets/font/brown/BrownExtraBoldCondensed\ Regular.ttf"),
    url("./assets/font/brown/Brown\ Bold.ttf");
}
@font-face {
  font-family: sofia-pro;
  src: url("./assets/font/sofia pro/sofia-pro\Sofia Pro Medium Italic Az.otf");
  src: url("./assets/font/sofia\ pro/Sofia Pro UltraLight Az.otf");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "brown-font";
  font-size: 1.6rem;
  font-weight: 400;
  background: rgba(247, 253, 252, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* *************************** */
/* *******MAIN SECTION******** */
/* *************************** */

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* *************************** */
/* ****DESCRIPTION SECTION**** */
/* *************************** */

.description-section {
  max-width: 46rem;
  min-height: 27.5rem;
  align-content: center;
}
.logo-container {
  width: 8rem;
  height: 8rem;
}
.logo {
  width: 100%;
  height: 100%;
}
.primary-description {
  color: #000b0a;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.800000011920929px;
  text-align: left;
  text-underline-position: from-font;
  margin: 1.7rem 0;
}
.primary-text {
  color: #737373;
  line-height: 25px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/* *************************** */
/* *******FORM SECTION******** */
/* *************************** */

.sign-up-form-section {
  background: #fff;
  max-width: 58rem;
  min-height: 50rem;
  top: 8.1rem;
  left: 720px;
  border-radius: 0.6rem;
  padding: 4rem;
  box-shadow: 0 4px 50px 0 rgba(4, 8, 19, 0.102);
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

fieldset {
  border: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.8rem;
}

.no-grid {
  display: block;
}

fieldset div {
  display: flex;
  flex-direction: column;
}

input,
select {
  padding: 1.3rem;
  outline: none;
  border: 1px solid rgba(240, 234, 234, 0.5);
}

input::placeholder,
select {
  color: #737373;
  font-weight: 300;
  font-size: 1.4rem;
  letter-spacing: 0.2px;
}

label {
  margin-bottom: 0.7rem;
  letter-spacing: 0.1px;
  font-weight: 600;
  color: #011c34;
  font-size: 1.4rem;
}

.password-container {
  position: relative;
}

.password {
  padding-right: 4rem;
}

.password-show {
  position: absolute;
  top: 50%;
  right: 1rem;
}

.submit-btn {
  background: #2ec4b6;
  border: none;
  outline: none;
  width: 100%;
  margin: 1rem 0;
  padding: 2rem;
  color: #fff;
  border-radius: 0.3rem;
  box-shadow: 0 0.4rem 5rem 0 rgba(4, 8, 19, 0.2);
  font-weight: 600;
  font-family: Sofia Pro;
  letter-spacing: 1.2px;
  text-align: center;
}

.submit-btn:hover {
  background: #30beaeb3;
}

.condition {
  font-size: 1.4rem;
  margin-top: 1rem;
  line-height: 2.5rem;
  font-family: sofia-pro;
}

.condition a {
  padding-bottom: 1.2px;
  color: #77d1d7;
  font-weight: 500;
  font-family: inherit;
  font-size: inherit;
}

.condition a:hover {
  text-decoration: none;
}

/* *************************** */
/* *******MEDIA QUERY******** */
/* *************************** */
@media (max-width: 58rem) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
    gap: 3rem;
  }
  fieldset {
    grid-template-columns: 1fr;
  }
}
