*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  color: #141414;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

/* ****************************** */
/* ******REUSEABLE STYLES******* */
/* ****************************** */
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6.4rem 0;
  gap: 1.5rem;
}
.btn {
  padding: 1.2rem 2.4rem;
  border-radius: 10rem;
}
.btn-trans {
  border: 1px solid #005ae2;
}
.margin-left-md {
  margin-left: 4.2rem;
}

/* ******************************* */
/* ***********HEADER************* */
/* ****************************** */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 115rem;
  margin: 2.5rem auto;
}
.logo-icon {
  border-right: 0.3rem solid blue;
  margin-right: 0.3rem;
  padding-right: 0.6rem;
}

.main-nav-links,
.main-cta-box {
  display: flex;
  gap: 2.4rem;
}
.main-nav-links {
  gap: 4rem;
}
.main-nav-link.active,
.main-nav-link:hover,
.btn {
  color: #0065fe;
}
.cta {
  background: #0065fe;
  color: #fff;
  padding: 1.2rem 2.4rem;
  border-radius: 10rem;
}
/* ****************************** */
/* **********HERO SECTION******** */
/* ****************************** */
.hero-section {
  max-width: 94.8rem;
  margin: 10rem auto;
  text-align: center;
}

.heading-title {
  font-size: 4.8rem;
  line-height: 2;
}
.heading-span {
  position: relative;
  color: #0065fe;
}
.span-underline {
  position: absolute;
  bottom: -18px;
  left: 85px;
}
.hero-description {
  font-size: 1.8rem;
  line-height: 1.55;
}

/* ****************************** */
/* ******TRANSFORM SECTION******* */
/* ****************************** */
.transform-section {
  max-width: 83.3rem;
  margin: 0 auto;
  padding-left: 12rem;
}
.transform-vector-box {
  position: relative;
}

.transform-box {
  position: absolute;
  top: 10px;
  left: 0;
  max-width: 76.8rem;
  min-height: 22.4rem;

  background-image: linear-gradient(to right, #cdd8eb 0%, #fefefe 100%);

  padding: 4rem;
  border-radius: 2.4rem;
  border: 0.5px solid #005ae2;
}
.transform-img-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.transform-text {
  text-align: center;
  margin-top: 2rem;
  padding: 0 10rem;
  line-height: 1.5;
}
/* ****************************** */
/* ****POSSIBILITIES SECTION***** */
/* ****************************** */

.ellipse-container {
  height: 23vh;
  width: 100%;
  background: #f9fbfd;
  border-bottom: 1px solid #f9fbfd;
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.ellipse-container:after {
  height: 100%;
  width: 100%;
  background: #fff;

  position: absolute;
  top: 0;
  left: -5.5rem;
  content: "";
  transform: rotate(-30deg);
  transform-origin: left;
  overflow: hidden;
}
.ellipse-container::before {
  height: 110%;
  width: 100%;
  background-color: #fff;
  position: absolute;
  content: "";
  right: -5.6rem;
  transform: rotate(30deg);
  transform-origin: right;
}
.possible-outcomes {
  background-image: linear-gradient(
    to right,
    #e2e9f0b2 70%,
    #dce4ebb2 100%,
    #e2e9f000 100%
  );
  background-size: cover;

  height: 15vh;
  display: grid;
  grid-template-columns: 40fr 15fr 15fr 15fr 15fr;
  align-items: center;
  gap: 4rem;
  padding: 0 10%;
}

/* ****************************** */
/* **********WHY SECTION********* */
/* ****************************** */
.black-line {
  content: "";
  width: 5px;
  height: 10px;

  background-image: linear-gradient(to bottom, #112232 100%, #4d6b88 0%);
}
.why-section {
  padding: 5% 10%;
  display: grid;
  grid-template-columns: 40fr 60fr;
  gap: 7rem;
}
.why-grid-within {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

/* ****************************** */
/* *********PRICE SECTION******** */
/* ****************************** */
.price-header {
  max-width: 57.61rem;
  margin: 6rem auto 10rem;
}
.plans-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 45.5rem;
}
.plan-box {
  border: 0.4px solid #005ae2;
  border-radius: 1.2rem;
  padding: 2rem 4rem;
  min-height: 40rem;
  align-content: center;
}
.plan-box-basic {
  transform: translateX(1.5rem);
}
.plan-box-pro {
  background-image: linear-gradient(#1e3448 100%, #1e344800 0%);
  color: #ffffff;
  min-height: 50rem;
  position: relative;
  z-index: 100;
}
.plan-box-teams {
  transform: translateX(-1.2rem);
}
.plan-title {
  font-size: 2.4rem;
  font-weight: 400;
}
.plan-price {
  font-size: 4rem;
  font-weight: bold;
  margin: 1rem 0;
}
.plan-description {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.plan-lists {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.plan-lists img {
  margin-right: 0.5rem;
}
/* ****************************** */
/* *********FORM SECTION******** */
/* ****************************** */

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1e3448;
  min-height: 70vh;
}

.form {
  background: #ffffff;
  border-radius: 1.2rem;
  padding: 3rem;
  color: #3284ff;
  max-width: 47.5rem;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
input,
select {
  border: 1px solid #3284ff;
  outline: 1px solid #3284ff;
  padding: 1.5rem;
  border-radius: 1.2rem;
  background: #fff;
  color: #3284ff;
  letter-spacing: 1px;
}
fieldset {
  border: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
::placeholder,
select {
  color: #3284ff;
  font-size: 1.2rem;
}
.form-condition a {
  font-weight: 900;
}

/* ****************************** */
/* **********FAQs SECTION******** */
/* ****************************** */
.faq-section {
  max-width: 79.2rem;
  margin: 3rem auto;
}
.details {
  transition: all 0.2s ease;
  border-bottom: 1px solid #cdd8eb;
  padding: 2rem 0;
}
.summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.minus {
  display: none;
}
.details[open] .minus {
  display: block;
}
.details[open] .plus {
  display: none;
}

/* ****************************** */
/* ******REVOLUTION SECTION****** */
/* ****************************** */
.revolution-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1e3448;
  color: #ffffff;
  gap: 2rem;
  min-height: 40vh;
}
