*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  color: #141414;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

/* ****************************** */
/* ******REUSEABLE STYLES******** */
/* ****************************** */
.secondary-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.secondary-title {
  font-size: 4rem;
}
.black-line {
  content: "";
  width: 4px;
  height: 30px;
  background-image: linear-gradient(to bottom, #112232 0%, #4d6b88 100%);
}
.description {
  font-size: 1.6rem;
  line-height: 1.5;
}

.blue-text {
  color: #005ae2;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6.4rem 0;
  gap: 1.5rem;
}
.btn {
  padding: 1.2rem 2.4rem;
  border-radius: 10rem;
}
.btn-trans {
  border: 1px solid #005ae2;
}
.margin-left-md {
  margin-left: 4.2rem;
}

.bg-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.bg-top-left {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  transform: translateX(-5rem);
}
/* ******************************* */
/* ***********HEADER************* */
/* ****************************** */
.header {
  background-image: url("./assets/aurora.png");
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 115rem;
  margin: 0 auto;
  padding: 2.5rem 0;
}
.logo-icon {
  border-right: 0.3rem solid blue;
  margin-right: 0.3rem;
  padding-right: 0.6rem;
}

.main-nav-links,
.main-cta-box {
  display: flex;
  gap: 2.4rem;
}
.main-nav-links {
  gap: 4rem;
}
.main-nav-link.active,
.main-nav-link:hover,
.btn {
  color: #0065fe;
}
.cta {
  background: #0065fe;
  color: #fff;
  padding: 1.2rem 2.4rem;
  border-radius: 10rem;
}
/* ****************************** */
/* **********HERO SECTION******** */
/* ****************************** */

.bg {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, white 100%),
    url("./assets/aurora.png") no-repeat center center/cover;
}
.hero-section {
  max-width: 94.8rem;
  margin: 0 auto;
  padding: 10rem 0;
  text-align: center;
}

.heading-title {
  font-size: 4.8rem;
  line-height: 2;
}
.heading-span {
  position: relative;
  color: #0065fe;
}
.span-underline {
  position: absolute;
  bottom: -18px;
  left: 85px;
}
.hero-description {
  font-size: 1.8rem;
  line-height: 1.55;
}

/* ****************************** */
/* ******TRANSFORM SECTION******* */
/* ****************************** */

.transform-section {
  max-width: 83.3rem;
  margin: 0 auto;
  padding-left: 12rem;
}
.transform-vector-box {
  position: relative;
}

.transform-box {
  position: absolute;
  top: 10px;
  left: 0;
  max-width: 76.8rem;
  min-height: 22.4rem;

  background-image: linear-gradient(to right, #cdd8eb 0%, #fefefe 100%);

  padding: 4rem;
  border-radius: 2.4rem;
  border: 0.5px solid #005ae2;
}
.transform-img-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.transform-text {
  text-align: center;
  margin-top: 2rem;
  padding: 0 10rem;
  line-height: 1.5;
}
/* ****************************** */
/* ****POSSIBILITIES SECTION***** */
/* ****************************** */

.ellipse-container {
  height: 23vh;
  width: 100%;
  background: #f9fbfd;
  border-bottom: 1px solid #f9fbfd;
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.ellipse-container:after {
  height: 100%;
  width: 100%;
  background: #fff;

  position: absolute;
  top: 0;
  left: -5.5rem;
  content: "";
  transform: rotate(-30deg);
  transform-origin: left;
  overflow: hidden;
}
.ellipse-container::before {
  height: 110%;
  width: 100%;
  background-color: #fff;
  position: absolute;
  content: "";
  right: -5.6rem;
  transform: rotate(30deg);
  transform-origin: right;
}
.possible-outcomes {
  background-image: linear-gradient(
    to right,
    #e2e9f0b2 70%,
    #dce4ebb2 100%,
    #e2e9f000 100%
  );
  background-size: cover;

  height: 15vh;
  display: grid;
  grid-template-columns: 40fr 15fr 15fr 15fr 15fr;
  align-items: center;
  gap: 4rem;
  padding: 0 10%;
}

/* ****************************** */
/* **********WHY SECTION********* */
/* ****************************** */

.why-section {
  padding: 5% 7%;
  display: grid;
  grid-template-columns: 40fr 60fr;
  gap: 7rem;
}
.why-grid-within {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.grid-title {
  font-size: 3.2rem;
  margin: 1.6rem 0 1rem;
}
.why-description {
  margin: 1.5rem 0 0 2.4rem;
}

/* ****************************** */
/* *********PRICE SECTION******** */
/* ****************************** */
.price-header {
  margin: 6rem auto 10rem;
}
.price-text-content {
  max-width: 57.61rem;
  margin: 1.5rem auto 0;
  text-align: center;
}
.plans-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 45.5rem;
}
.plan-box {
  border: 0.4px solid #005ae2;
  border-radius: 1.2rem;
  padding: 2rem 4rem;
  min-height: 40rem;
  align-content: center;
}
.plan-box-basic {
  transform: translateX(1.5rem);
}
.plan-box-pro {
  background-image: linear-gradient(#1e3448 100%, #1e344800 0%);
  color: #ffffff;
  min-height: 50rem;
  position: relative;
  z-index: 100;
}
.plan-box-teams {
  transform: translateX(-1.2rem);
}
.plan-title {
  font-size: 2.4rem;
  font-weight: 400;
}
.plan-price {
  font-size: 4rem;
  font-weight: bold;
  margin: 1rem 0;
}
.plan-description {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.plan-lists {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.plan-lists img {
  margin-right: 0.5rem;
}
/* ****************************** */
/* *********FORM SECTION******** */
/* ****************************** */

.form-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1e3448;
  min-height: 85vh;
  overflow: hidden;
}

.form {
  background: #ffffff;
  border-radius: 1.2rem;
  padding: 3rem;
  color: #3284ff;
  max-width: 47.5rem;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
input,
select {
  border: 1px solid #3284ff;
  outline: 1px solid #3284ff;
  padding: 1.5rem;
  border-radius: 1.2rem;
  background: #fff;
  color: #3284ff;
  letter-spacing: 1px;
}
fieldset {
  border: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
::placeholder,
select {
  color: #3284ff;
  font-size: 1.2rem;
}
.form-condition a {
  font-weight: 900;
}

/* ****************************** */
/* **********FAQs SECTION******** */
/* ****************************** */

.faq-section {
  position: relative;
  padding: 5rem 0 10rem;
}
.faq-title {
  text-align: center;
}
.faq-c {
  margin-bottom: 6rem;
}
.faq-accordion {
  max-width: 79.2rem;
  margin: 0 auto;
}
.details {
  transition: all 0.2s ease;
  border-block-end: 1px solid #d6d6d6;
  margin-block-end: 2rem;
}
.details p {
  line-height: 2;
  max-width: 90%;
}
.summary {
  list-style: none;
  appearance: none;
  cursor: pointer;
  font-weight: 600;
  line-height: 1.8;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.8rem;
  margin-block-end: 0.5rem;
  padding-block: 0.5rem;
  padding-inline-end: 4rem;
}
.minus {
  display: none;
}
.details[open] .minus {
  display: block;
}
.details[open] .plus {
  display: none;
}

/* ****************************** */
/* ******REVOLUTION SECTION****** */
/* ****************************** */
.revolution-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1e3448;
  background-image: linear-gradient(#1e3448 100%, #1e3448 0%);
  color: #ffffff;
  gap: 2rem;
  min-height: 50vh;
}

.revo-title {
  font-size: 4rem;
  margin-bottom: 3rem;
}

/* ****************************** */
/* ********FOOTER SECTION******** */
/* ****************************** */

.footer {
  padding: 10rem 5rem 2rem 20rem;
  position: relative;
}
.footer-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.f-logo-block {
  grid-row: 1 / span 2;
}

.f-logo-block {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 1.5rem;
}

.f-logo-box {
  display: flex;
  align-items: center;
  margin-left: 2.5rem;
}

.scissor-text {
  font-size: 2.4rem;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  font-weight: 600;
  letter-spacing: -2px;
  border-left: 3px solid #141414;
}

.footer-social-links {
  display: flex;
  justify-content: space-between;
  max-width: 18.4rem;
}

.f-heading {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.f-useful-info {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.f-extra ul {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  font-size: 1.4rem;
}

.security {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0 0.5rem;
}
